/*pruebas css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Hola h1{
    color: blue;
    border: 2PX solid yellow;
}

.Hola h2{
    color: blue;
    background: red;
}

.Hola h3{
    color:cadetblue;
    background: yellow;
}

.Hola a{
    color: green;
    text-decoration: none;
}
.Hola :hover{
    background: white;
}

